Repository commitizen-tools/commitizen, pull requests merged in 2023-09, with the labels that each got.

#832 fix: empty error on bump failure
  commitizen/commands/bump.py
Labels: pr-status: ready-to-merge

#839 fix: add sponsors to README
  .github/workflows/bumpversion.yml
  docs/README.md
Labels: pr-status: wait-for-review

#830 refactor(provider): split provider code and related tests into individual files for maintainability
  commitizen/providers.py
  commitizen/providers/__init__.py
  commitizen/providers/base_provider.py
  commitizen/providers/cargo_provider.py
  commitizen/providers/commitizen_provider.py
  commitizen/providers/composer_provider.py
  commitizen/providers/npm_provider.py
  commitizen/providers/pep621_provider.py
  commitizen/providers/poetry_provider.py
  commitizen/providers/scm_provider.py
  pyproject.toml
  tests/providers/conftest.py
  tests/providers/test_base_provider.py
  tests/providers/test_cargo_provider.py
  tests/providers/test_commitizen_provider.py
  tests/providers/test_composer_provider.py
  tests/providers/test_npm_provider.py
  tests/providers/test_pep621_provider.py
  tests/providers/test_poetry_provider.py
  tests/providers/test_scm_provider.py
  tests/test_version_providers.py
Labels: pr-status: wait-for-review, pr-status: wait-for-modification

#856 fix(conf): handle parse error when init
  commitizen/config/json_config.py
  commitizen/config/toml_config.py
  commitizen/config/yaml_config.py
  tests/test_conf.py
Labels: pr-status: wait-for-review

#848 docs: typo - version_provider vs provider
  docs/config.md
Labels: pr-status: wait-for-review

#858 feat: Drop support for Python 3.7
  .github/workflows/pythonpackage.yml
  docs/README.md
  docs/tutorials/gitlab_ci.md
  poetry.lock
  pyproject.toml
Labels: pr-status: wait-for-review, pr-status: ready-to-merge
