Repository commitizen-tools/commitizen, pull requests merged in 2023-10, with the labels that each got.

#875 docs: add developmental releases tutorial
  docs/tutorials/dev_releases.md
  mkdocs.yml
Labels: pr-status: wait-for-review

#889 style(ruff): enable `pyupgrade` (`UP`) rules and fix them all
  commitizen/bump.py
  commitizen/changelog.py
  commitizen/changelog_parser.py
  commitizen/commands/bump.py
  commitizen/commands/changelog.py
  commitizen/commands/check.py
  commitizen/commands/commit.py
  commitizen/config/json_config.py
  commitizen/config/toml_config.py
  commitizen/config/yaml_config.py
  commitizen/cz/conventional_commits/conventional_commits.py
  commitizen/cz/customize/customize.py
  commitizen/cz/jira/jira.py
  commitizen/defaults.py
  commitizen/version_schemes.py
  pyproject.toml
  tests/commands/test_bump_command.py
  tests/commands/test_changelog_command.py
  tests/commands/test_init_command.py
  tests/test_bump_update_version_in_files.py
  tests/test_changelog.py
  tests/test_changelog_parser.py
  tests/test_conf.py
Labels: pr-status: ready-to-merge, scope: pre-commit

#888 ci: add py3.12 to tests (#887)
  .github/workflows/pythonpackage.yml
Labels: pr-status: ready-to-merge
