Repository commitizen-tools/commitizen, pull requests merged in 2024-05, with the labels that each got.

#1107 refactor: strip possessive from note about ci option
  commitizen/cz/conventional_commits/conventional_commits.py
  docs/images/commit.yml
Labels: pr-status: wait-for-review

#1122 feat(ci/cd): automates the generation of CLI screenshots
  .github/workflows/generate_cli_screenshots.yml
Labels: pr-status: wait-for-review

#1127 Add py.typed file
  commitizen/py.typed
  pyproject.toml
Labels: pr-status: wait-for-review, pr-status: ready-to-merge, pr-status: wait-for-modification

#1137 docs: fix a few typos in CHANGELOG.md and .pre-commit-hooks.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
Labels: pr-status: wait-for-review

#1133 fix(base.py): add encoding when open changlelog_file
  commitizen/changelog_formats/base.py
Labels: pr-status: ready-to-merge

#1139 ci: skip 'update-cli-screenshots' if no changes
  .github/workflows/docspublish.yml
Labels: pr-status: wait-for-review
