Repository commitizen-tools/commitizen, pull requests merged in 2024-10, with the labels that each got.

#1256 docs: update README to include conda
  docs/README.md
Labels: pr-status: wait-for-review

#1255 docs: `Allowed Prefixes` default value typo
  docs/commands/check.md
Labels: pr-status: wait-for-review

#1259 docs(third-party-commitizen): add commitizen-deno-provider
  docs/third-party-commitizen.md
Labels: pr-status: wait-for-review

#1265 docs(commit): add multiline option `questions` content table
  docs/customization.md
Labels: pr-status: wait-for-review, pr-status: ready-to-merge

#1262 feat(commands/commit): add manual-edit functionality after answering questions
  commitizen/cli.py
  commitizen/commands/commit.py
  commitizen/git.py
  docs/contributing.md
  docs/images/cli_help/cz_commit___help.svg
  tests/commands/test_commit_command.py
  tests/commands/test_commit_command/test_commit_command_shows_description_when_use_help_option.txt
  tests/test_git.py
Labels: pr-status: ready-to-merge
