Repository commitizen-tools/commitizen, pull requests merged in 2024-03, with the labels that each got.

#1001 feature: `changelog_message_build_hook` can remove message by returning a falsy value
  commitizen/changelog.py
  commitizen/commands/changelog.py
  commitizen/cz/base.py
  docs/bump.md
  docs/customization.md
  tests/test_changelog.py
Labels: type: feature, pr-status: wait-for-review, scope: plugin

#1002 fix(changelog): ensure `changelog_message_builder_hook` can access and modify `change_type`
  commitizen/changelog.py
  tests/test_changelog.py
Labels: type: bug, pr-status: wait-for-review, scope: plugin

#1003 feat(changelog): `changelog_message_build_hook` can now generate multiple changelog entries from a single commit
  commitizen/changelog.py
  commitizen/cz/base.py
  docs/customization.md
  tests/test_changelog.py
Labels: type: feature, pr-status: wait-for-review, scope: plugin

#1011 fix(changelog): changelog hook was not called on dry run
  commitizen/commands/changelog.py
  tests/commands/test_changelog_command.py
Labels: type: bug, pr-status: wait-for-review, scope: plugin

#1012 fix(git): force the default git locale on methods relying on parsing the output
  commitizen/cmd.py
  commitizen/git.py
  tests/test_git.py
Labels: type: bug, pr-status: wait-for-review

#1019 fix(warnings): all warnings should go to `stdout`
  commitizen/out.py
Labels: type: bug, pr-status: wait-for-review

#1026 fix(changelog): include latest change when dry run and incremental
  commitizen/commands/changelog.py
  tests/commands/test_bump_command.py
  tests/commands/test_changelog_command.py
Labels: pr-status: wait-for-review

#1018 feat(changelog): adds a `changelog_release_hook` called for each release in the changelog
  commitizen/changelog.py
  commitizen/commands/changelog.py
  commitizen/cz/base.py
  docs/customization.md
  tests/commands/test_changelog_command.py
  tests/test_changelog.py
Labels: type: feature, pr-status: wait-for-review, scope: plugin

#1013 feat(changelog): expose commits `sha1`, `author` and `author_email` in changelog tree (fix #987)
  commitizen/changelog.py
  docs/customization.md
  tests/test_changelog.py
Labels: type: feature, pr-status: wait-for-review

#1040 fix(command-init): "cz init" should list exisitng tag in reverse order
  commitizen/commands/init.py
  tests/commands/test_init_command.py
Labels: pr-status: ready-to-merge

#1042 move cz_conventional_commit defaults out of project wide default
  commitizen/cz/conventional_commits/conventional_commits.py
  commitizen/defaults.py
  tests/test_changelog.py
Labels: pr-status: ready-to-merge
