Repository commitizen-tools/commitizen, pull requests merged in 2025-08, with the labels that each got.

#1545 fix(ExitCode): add from_str in ExitCode and replace parse_no_raise with it, warn if the error code is not in range
  commitizen/cli.py
  commitizen/exceptions.py
  tests/test_exceptions.py
Labels: type: bug, type: refactor, pr-status: wait-for-review

#1528 fix(Init): fix a typo in _ask_version_provider options and remove unnecessary filter
  commitizen/commands/init.py
Labels: type: bug, pr-status: wait-for-review

#1534 docs(config.md): fix format issue, add period and add title to example config code blocks
  docs/config.md
Labels: type: bug, type: documentation, pr-status: wait-for-review

#1524 fix(init): make welcome message easier to read
  commitizen/commands/init.py
Labels: type: bug, pr-status: wait-for-review

#1540 refactor(changelog): shorten generate_tree_from_commits and use set to check used tags
  commitizen/changelog.py
  commitizen/git.py
Labels: pr-status: ready-to-merge

#1519 feat: add check against default branch
  commitizen/cli.py
  commitizen/commands/check.py
  commitizen/git.py
  docs/commands/check.md
  tests/commands/test_check_command/test_check_command_shows_description_when_use_help_option.txt
  tests/test_git.py
Labels: type: feature, pr-status: wait-for-review, pr-status: wait-for-modification

#1557 test(changelog): ensure error on missing changelog template filename
  tests/commands/test_changelog_command.py
Labels: pr-status: wait-for-review

#1579 build(deps): exclude prompt_toolkit 3.0.52 due to compatibility issue
  poetry.lock
  pyproject.toml
Labels: pr-status: wait-for-review
