Repository commitizen-tools/commitizen, pull requests merged in 2025-09, with the labels that each got.

#1591 fix(dependency): move deprecated to project.dependencies
  poetry.lock
  pyproject.toml
Labels: type: bug, pr-status: wait-for-review

#1603 test(Init): add type hint and rename variable
  tests/commands/test_init_command.py
Labels: pr-status: wait-for-review

#1607 refactor(BaseCommitizen): construct Style object directly to get rid …
  commitizen/cz/base.py
Labels: type: refactor, pr-status: wait-for-review

#1587 feat: allow `amend!` prefix as created by `git --fixup=reword:<commit>`
  commitizen/defaults.py
  tests/commands/test_check_command.py
  tests/test_conf.py
Labels: type: bug, type: feature, pr-status: wait-for-review

#1624 test(changelog): remove unused timer fixture
  tests/commands/test_changelog_command.py
Labels: type: bug, pr-status: wait-for-review
