Repository commitizen-tools/commitizen, pull requests merged in 2025-02, with the labels that each got.

#1350 fixes yaml example
  docs/customization.md
Labels: pr-status: wait-for-review, pr-status: wait-for-modification

#1356 Add "stages" explicitly to the hook example
  docs/tutorials/auto_check.md
Labels: pr-status: wait-for-review

#1357 ci(github-actions): add check-commit task
  pyproject.toml
Labels: pr-status: wait-for-review

#1358 fix(bump): manual version bump if prerelease offset is configured
  commitizen/commands/bump.py
  docs/commands/bump.md
  tests/commands/test_bump_command.py
Labels: pr-status: wait-for-review, pr-status: ready-to-merge
