Repository commitizen-tools/commitizen, pull requests merged in 2025-05, with the labels that each got.

#1396 fix(commit): use os.unlink to remove temp file
  commitizen/commands/commit.py
  tests/commands/test_commit_command.py
Labels: pr-status: wait-for-review

#1399 fix(docs): fix url link and table formatting in the customization docs
  docs/customization.md
Labels: pr-status: wait-for-review

#1398 fix(docs): fix the regex and examples in the monorepo documentation
  docs/tutorials/monorepo_guidance.md
Labels: pr-status: wait-for-review

#1401 docs: Revert removal of escape in monorepo toml example
  docs/tutorials/monorepo_guidance.md
Labels: pr-status: wait-for-review

#1391 fix: cz bump subdir
  commitizen/commands/changelog.py
  tests/test_changelog.py
Labels: pr-status: ready-to-merge

#1403 docs(bug_report.yml): update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: pr-status: wait-for-review

#1407 refactor: fix typos
  commitizen/commands/bump.py
  commitizen/commands/changelog.py
  commitizen/commands/check.py
  commitizen/commands/commit.py
  commitizen/commands/example.py
  commitizen/commands/info.py
  commitizen/commands/init.py
  commitizen/commands/schema.py
  commitizen/factory.py
  commitizen/version_schemes.py
  tests/commands/test_bump_command.py
  tests/commands/test_changelog_command.py
  tests/commands/test_check_command.py
  tests/commands/test_init_command.py
  tests/conftest.py
  tests/test_bump_update_version_in_files.py
  tests/test_changelog_format_asciidoc.py
  tests/test_changelog_format_markdown.py
  tests/test_changelog_format_restructuredtext.py
  tests/test_changelog_format_textile.py
  tests/test_cz_customize.py
  tests/test_factory.py
  tests/test_version_scheme_pep440.py
  tests/test_version_scheme_semver.py
Labels: pr-status: ready-to-merge

#1408 docs(pull_request_template): make the checklist holistic
  .github/pull_request_template.md
Labels: pr-status: ready-to-merge

#1418 fix(bump): don't fail if an invalid version tag is present (fix #1410)
  commitizen/tags.py
  tests/commands/test_bump_command.py
  tests/commands/test_changelog_command.py
  tests/test_changelog.py
Labels: type: bug, pr-status: wait-for-review

#1421 refactor(default): capitalize all constants and remove unnecessary variables
  commitizen/bump.py
  commitizen/commands/changelog.py
  commitizen/commands/init.py
  commitizen/config/__init__.py
  commitizen/cz/conventional_commits/conventional_commits.py
  commitizen/cz/customize/customize.py
  commitizen/defaults.py
  tests/test_conf.py
Labels: pr-status: ready-to-merge

#1436 docs(ISSUE_TEMPLATE): correct labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: pr-status: wait-for-review

#1437 docs(label_issues): add logics for adding os related labels
  .github/workflows/label_issues.yml
Labels: pr-status: wait-for-review

#1414 feat(cli): add --tag-format argument to changelog command
  commitizen/cli.py
  tests/commands/test_changelog_command/test_changelog_command_shows_description_when_use_help_option.txt
Labels: pr-status: ready-to-merge

#1423 test(changelog): code cleanup and better type
  tests/test_changelog.py
Labels: pr-status: ready-to-merge

#1412 refactor(customize): improve code readability
  commitizen/cz/customize/customize.py
Labels: pr-status: wait-for-review

#1427 refactor(check): code cleanup
  commitizen/commands/check.py
Labels: pr-status: wait-for-review

#1416 refactor: improve readability and fix typos
  commitizen/bump.py
  commitizen/changelog.py
  commitizen/cli.py
  commitizen/cz/utils.py
  commitizen/defaults.py
  commitizen/tags.py
  tests/test_changelog.py
Labels: pr-status: wait-for-review, pr-status: wait-for-modification

#1430 refactor(version_scheme): cleanup
  commitizen/version_schemes.py
Labels: pr-status: wait-for-review

#1448 docs(label_pr.yml): add labels based on new PR title
  .github/workflows/label_pr.yml
Labels: pr-status: wait-for-review

#1428 refactor: misc cleanup
  commitizen/cz/conventional_commits/conventional_commits.py
  commitizen/cz/jira/jira.py
Labels: type: refactor, pr-status: wait-for-review, pr-status: ready-to-merge

#1449 refactor(cli): early return and improve test coverage
  commitizen/cli.py
  tests/test_cli.py
Labels: type: refactor, pr-status: wait-for-review, pr-status: ready-to-merge

#1458 docs: add installation and usage guide for cz-ai plugin leveraging GP…
  docs/third-party-commitizen.md
Labels: type: documentation, pr-status: wait-for-review

#1450 build(termcolor): remove termcolor <3 restriction
  poetry.lock
  pyproject.toml
Labels: pr-status: wait-for-review, pr-status: ready-to-merge

#1451 docs(faq): add "features we won't add" section
  docs/faq.md
Labels: type: documentation, pr-status: wait-for-review

#1463 docs(commit): rewrite command commit page
  docs/commands/commit.md
Labels: type: documentation, pr-status: wait-for-review

#1479 Add type hints for cli.py
  commitizen/cli.py
Labels: pr-status: wait-for-review, pr-status: wait-for-modification
